version: '3.8'

services:
  # 1. The Django Web Server
  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
      - ./media_data:/app/media
    env_file:
      - .env
    depends_on:
      - db
      - redis
    command: >
      sh -c "python manage.py migrate &&
             python manage.py runserver 0.0.0.0:8000"

  # 2. The Database
  db:
    image: postgres:15
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # 3. The Message Broker (Cache)
  redis:
    image: redis:7-alpine

  # 4. The Background Worker (AI/Tasks)
  celery:
    build: .
    command: celery -A backend worker -l info
    volumes:
      - .:/app
      - ./media_data:/app/media
    env_file:
      - .env
    depends_on:
      - db
      - redis

  # 5. Prometheus (Data Collector)
  prometheus:
    image: prom/prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    depends_on:
      - web

  # 6. Grafana (Dashboard UI)
  grafana:
    image: grafana/grafana
    ports:
      - "3000:3000"
    depends_on:
      - prometheus
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin

volumes:
  postgres_data: